@import "settings/child_settings_variables";
@import "settings/fonts";
@import "settings/mixin";
@import "settings/common";
@import "settings/typography";
@import "settings/button";
@import "settings/header";
@import "settings/footer";
@import "settings/page_not-found.scss";
@import "settings/search";
@import "settings/single_post";
@import "settings/full_width_wysiwyg";


// Templates
@import "settings/banner";
@import "settings/two_columns";
@import "settings/infobox";
@import "settings/tabs";
@import "settings/counter";
@import "settings/logo_slider";
@import "settings/_call_to_action.scss";
@import "settings/hero-slider";
@import "settings/three_col_testimonial.scss";
@import "settings/full_width_section.scss";
@import "settings/pricing_section";
@import "settings/testimonial";
@import "settings/blog_list";
@import "settings/gravity-forms";
@import "settings/about_you";
@import "settings/team_section";
@import "settings/accordion";







