/*
 Theme Name:   Strategic Wealth Custom
 Theme URI:    https://bizinkonline.com
 Description:  Strategic Wealth Custom Theme
 Author:       Bizink
 Author URI:   https://bizinkonline.com
 Template:     understrap
 Version:      1.3
 Text Domain:  strategic
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
*/
