.blog-listing-section {  
    .top-left-image {       
        top: 11%;
    }         
    .filter-wrap {
        text-align: center;   
        h4{
            font-weight:bold;
        }    
        span{           
            position: relative;            
            padding: 5px 10px;            
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            margin: 15px 0 25px;
            &:before{
                content:'\f107';
                font-family:'fontawesome';
                right: 20px;
                position: absolute;
            }
        }
        ul {
            display: flex;
            justify-content:center;
            flex-wrap:wrap;
            margin: 20px 0 60px;
            @include media-breakpoint-down(xl) {                    
             justify-content:center;
                margin: 20px 0 40px;
            }            
            @include media-breakpoint-down(md) {            
                display:none;        
            }
            li {
                padding: 10px;
                border-radius: 8px;
                margin: 0;
                font-size: 16px;
                line-height: 1;
                margin:0 10px;
                cursor: pointer;
                @include media-breakpoint-down(md) {                    
                    margin:0;
                    width: 100%;
                    text-align: left;
                }               
            }
        }        
    }

    .blog {
        text-decoration:none;
        margin-bottom: 20px;                        
        @include media-breakpoint-down(lg) {                    
            margin-bottom:30px;  
        }
        .blog-inner-wrap{              
            height: 100%; 
            border-radius:30px;
            overflow: hidden;    
            box-shadow: 8px 10px 200px rgb(0 0 0 / 12%);            
            .blog-img {               
                width: 100%;
                height:241px;
                margin: 0 auto;
                overflow: hidden;                                          
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        transform:scale(1.2);
                    }
                }
            }
            .blog-details{               
                a:not(.readmore){
                    text-decoration:none;
                }
                padding:2rem;                                      
                h4{
                    font-weight:bold;
                    line-height:1.7;
                }         
                .meta {
                    margin: 13px 0;
                    span {
                        display: inline-block;
                        margin: 0 5px;
                    }                                                   
                }     
                .readmore{
                    letter-spacing:1px;
                    display: block;
                    margin-top: 40px;                    
                }
            }
        }
        &:last-child{
            @include media-breakpoint-down(md) {                    
                padding-bottom:0;  
            }                
        }
    }  
    .btn {
        display: table;
        margin: 40px auto 0;
        @include media-breakpoint-down(md) {                    
            margin: 20px auto 0;            
        }
    }         
}

.related-post{
    h2{
        &:before{
            left: 0;
            transform: unset;
        }
    }
    margin-top:40px;
    .full-width-wysiwyg .editor-design{
        max-width:100%;
    }
    .blog {
        text-decoration:none;
        margin-bottom: 20px;                        
        @include media-breakpoint-down(lg) {                    
            margin-bottom:30px;  
        }
        .blog-inner-wrap{              
            height: 100%; 
            border-radius:30px;
            overflow: hidden;    
            box-shadow: 8px 10px 200px rgb(0 0 0 / 12%);            
            .blog-img {               
                width: 100%;
                height:241px;
                margin: 0 auto;
                overflow: hidden;                                          
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        transform:scale(1.2);
                    }
                }
            }
            .blog-details{              
                a:not(.readmore){
                    text-decoration:none;
                }
                padding:2rem;                                      
                h4{
                    font-weight:bold;
                    line-height:1.7;
                }         
                .meta {
                    margin: 13px 0;
                    span {
                        display: inline-block;
                        margin: 0 5px;
                    }                                                    
                }     
                .readmore{
                    letter-spacing:1px;
                    display: block;
                    margin-top: 40px;
                }
            }
        }
        &:last-child{
            @include media-breakpoint-down(md) {                    
                padding-bottom:0;  
            }                
        }
    }
} 

.content-topic-section, .content-type-section{
    .blog {
        .blog-inner-wrap{
            .blog-details{
                height:100%;
                padding:4rem;
                h4{
                    line-height: 1.2;
                    min-height: auto !important;
                    margin-bottom:20px;
                }                
            }
        }
    }
}