.call-to-action-section { 
  @include background-set(center, cover, no-repeat);  
  .full-width-wysiwyg {
      position: relative;
      margin-bottom: 40px;
      .editor-design{
        h2,p{
         color:$white; 
       }
      }
  }
  
}
.comman-callto-action {
  max-width: 770px;
  margin: 0 auto;
}