/*Common CSS START*/
html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  // 10px = 1rem
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  @include transition(all 0.4s ease-in-out);

  &:hover {}

  &:focus {
    outline: none;
  }
}

.slick-slide {
  outline: none;
}

.slick-dots li.slick-active button {
  &:hover {}
}

// background
.bg {
  padding: 80px 0;

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
}

.white-bg {
  background-color: $white;
}

.extra-padding {
  padding: 200px 0;

  @include media-breakpoint-down(lg) {
    padding: 100px 0 100px;
  }
}

.comman-margin {
  margin: 80px 0;

  @include media-breakpoint-down(lg) {
    margin: 50px 0;
  }

  @include media-breakpoint-down(md) {
    margin: 40px 0;
  }
}

.comman-padding {
  padding: 80px 0;

  @include media-breakpoint-down(lg) {
    padding: 50px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }
}


.overlay {
  position: relative;

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    background-color: rgba($white, 0.6);
    z-index: 0;
  }
}

.overlay .container {
  position: relative;
  z-index: 1;
}
.container{
  padding:0 15px;
}

.alignleft,
.alignright {
  margin-bottom: 15px;

  @include media-breakpoint-down(md) {
    float: none;
  }
}
section{
  position: relative;
}

.half-bg {
  position: absolute;
  width: 100%;
  height:400px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.comman-shape{
  width:100px;
  height:196px;
  position:absolute;
  z-index:-1;
  @include media-breakpoint-down(xl) {
    width: 8%;
    opacity: 0.5;
  }   
  img{
    width:100%;
    height:100%;
    object-fit:contain;
  }
}
.hero-shape{
  z-index:1;
  width:auto;
  @include media-breakpoint-down(md) {
    height:8rem;
  }
}
.top-left-image{
  left:0px;
  top:0;
}
.top-right-image{
  right:0;
  top:0;
}
.bottom-left-image{
  bottom:0;
  left:0;
}
.bottom-right-image{
  right:0;
  bottom:0;
}
.center-left{
  top:50%;
  left:0;
  transform:translateY(-50%);
}
.center-right{
  top:50%;
  right:0;
  transform:translateY(-50%);
}