//Gravity forms styles

.gform_wrapper.gravity-theme {

	//form heading
	.gform_heading {
		.gform_title {
			display: none;
		}
	}
	.gform_validation_errors {
		border: 0;
		box-shadow: none;
		background: transparent;
		text-align:left;
		h2{
			font-family:inherit;
		}
	}	

	form {

		//form body
		.gform_body {
			.gform_fields {
				.gfield {
					&.gfield--width-half{
						@include media-breakpoint-down(lg) {
							grid-column: span 12;
						}
					}

					//label for form inputs
					.gfield_label {}

					//styles for form inputs
					.ginput_container {

						input[type="text"],
						input[type="number"],
						input[type="date"],
						input[type="email"],
						input[type="tel"],
						textarea {
							border:1px solid #C3CAD9;							
							height: 60px;
							padding: 13px 20px;
							font-size: 1.8rem;
							border-radius:8px;

							&:focus-visible {
								outline: none;
								box-shadow: none;
							}
						}
						textarea{
							min-height:190px;
						}

						::-webkit-input-placeholder {
							color: #707070;
						}

						:-moz-placeholder {
							/* Firefox 18- */
						}

						::-moz-placeholder {
							/* Firefox 19+ */
						}

						:-ms-input-placeholder {}

						//styles for complex fields such as the name field
						&.ginput_complex {
							span {
								label {}
							}
						}

						.gfield_radio {}

						.gfield_checkbox {}

						.gfield_description {
							font-size: 1.3rem;
							padding: 10px 13px;
						}
					}
					.gfield_description.validation_message.gfield_validation_message {
						border: 0;
						padding: 5px;
						background: transparent;
						text-align:left;
					}

				}
			}
		}

		//form footer
		.gform_footer {
			input[type="submit"] {							
				border-radius:5px;								
				font-size: 1.8rem;
				font-weight: 500;
				@include transition(0.3s ease-in-out);
				width: auto;
				min-width: auto;
				padding: 16px 52px;
				font-size: 2.2rem;	
				border:0;	
				min-width:228px;		 
				@include media-breakpoint-down(lg) {       
					padding: 10px 40px;
					font-size: 1.6rem;	
					min-width:auto;						
				}			
			}
		}

	}
}

