.top-nav{   
  .container{
    display:flex;
    justify-content:flex-end;
    padding: 8px 0;    
    @include media-breakpoint-down(md) {
      padding: 8px 15px;        
    }
    .client-area-wrap{  
      margin-right: 15px;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
      .client-area-anchor{
        cursor: pointer;   
        border: 0;
        background: transparent;
        &:after{
          display:none;
        }
      }  
      .dropdown-menu{
        padding:0;
        border:0;
        box-shadow: 2px 2px 15px 0px rgb(0 0 0 / 12%);
        .dropdown-item{
          font-size:initial;
          padding:10px 15px;
        }
      }
    }
  }
}

header {
  @include transition(all 0.3s ease-in-out);

  &.fixed {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: auto;   
    @include shadow(-1px 1px 7px 0px rgba(0, 0, 0, 0.12));
    z-index: 99;
  }  
}

.navbar-dark {
  padding:20px 0;
  .navbar-collapse{
    @include media-breakpoint-down(lg) {
      position: fixed;
      top:115px;
      right: -100%;
      height: 100vh;
      z-index: 11;    
      width: 350px;
      padding: 40px 15px 140px 15px;
      @include transition(all 0.3s ease-in-out);
      display: block;
      overflow-y: auto;
    }
  }
  .navbar-nav {
    .nav-item {
      margin: 0 14px;
      padding: 0 10px;
       @include media-breakpoint-down(lg) {
        margin: 0 12px;
      }
      .nav-link {
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: $font-weight-medium;
        @include transition(all 0.3s ease-in-out);
        @include media-breakpoint-down(lg) {
          padding: 15px 0;
        }
      }
      &:hover {

        .nav-link {

          &::after {
          }
        }
      }     
    }
    
    @include media-breakpoint-up(lg) {
      .menu-item-has-children {
        &:hover {
          .dropdown-menu {
            display: block
          }
        }
      }
    }

    .menu-item-has-children{
      .arrow-icon{
        display: none;
        @include media-breakpoint-down(lg) {
          display: block;
          &:after{
            border: 0;
            font-family: fontawesome;
            content: "\f107";
            position: absolute;
            right: -5px;
            font-size: 18px;
            top: 15px;
            @include transition(all 0.2s ease-in-out);
          }
          &.arrow-flip{
            &:after{
              transform: rotate(-180deg);
            }
          }
        }
      }
    }

  }

  .dropdown-menu {
    @include shadow(-1px 1px 7px 3px rgba(0, 0, 0, 0.12));
    border: 0;
    font-size: 14px;
    width: 180px;
    padding:0;
    @include media-breakpoint-down(lg) {
      box-shadow: unset;
      width: 100%;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      margin: 10px 0;
    }
    .nav-item {
      margin: 0px;
      padding:0;
      &.menu-item-has-children{
        a{
          &:after{
            display: block;
            content: "\f105";
            font-family: fontawesome;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            @include media-breakpoint-down(lg) {
              display: none;
            }
          }
        }
        .dropdown-menu{
          position: absolute;
          left: 100%;
          top: 0;
          @include media-breakpoint-down(lg) {
            position: relative;
            left: 0;
            padding-left: 15px;
          }
          a{
            &:after{
              display: none;
            }
          }
        }
      }
      .dropdown-item {
        font-weight: $font-weight-medium;
        padding: 13px 15px;
        margin-bottom:0px;       
        white-space: normal;

        &:hover {
          @include transition(all 0.3s ease-in-out);
        }
      }
      &:first-child .dropdown-item{
        &:hover{
          border-top-left-radius: 2.5px;
          border-top-right-radius: 2.5px;
        }
      }
      &:last-child .dropdown-item{
        &:hover{
          border-bottom-left-radius: 2.5px;
          border-bottom-right-radius: 2.5px;
        }
      }
    }
  }



  .dropdown-toggle::after {
    border: 0;
    font-family: 'fontawesome';
    content: '\f107';
    position: absolute;
    @include transition(all 0.3s ease-in-out);
    right: -5px;
    font-size: 18px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .dropdown-toggle.show::after {
    @include media-breakpoint-down(lg) {
      transform: rotate(180deg);
    }
  }

  .navbar-toggler {
    border: 0;

    .navbar-toggler-icon {
      position: relative;
      width: 24px;
      background: transparent;


      &::before,
      &::after {
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 30px;
        content: '';
        left: 0;
      }

      &::after {
        width: 70%;
        top: 8px;
        right: 0;
        left: unset;
      }
    }
  }

  .offcanvas {
    border: 0;

    .offcanvas-header {
      .btn-close-white {
        opacity: 1;
        filter: unset;
        margin: 10px;
      }
    }
  }
}
.header_container{
  img {
    max-width:280px;
    @include media-breakpoint-down(lg) {
      max-width:190px;
    }
  }
  padding:1.5rem 0;
}

.menu-open{
  overflow: hidden;
  .navbar{
    .navbar-collapse{
      right: 0;
    }
    .navbar-toggler{
      .navbar-toggler-icon{
        &:before{
          transform: rotate(-45deg);
        }
        &:after{
          top: 0;
          width: 100%;
          transform: rotate(45deg);
        }
      }
    }
  }
}