body {
    font-size: 1.8rem;
    font-family: $font-family;
    margin: 0px;
    padding: 0px;
    @include media-breakpoint-down(xl) {
        font-size: 1.6rem;
    }
}
h1 {
    font-size: 7rem;
    @include media-breakpoint-down(xl) {
        font-size: 6rem;
    }
    @include media-breakpoint-down(lg) {
        font-size: 5rem;
    }
    @include media-breakpoint-down(md) {
        font-size: 4rem;
    }
}
h2 {
    font-size: 5rem;
    margin-bottom: 10px;
    font-weight: $font-weight-bold;
    @include media-breakpoint-down(xl) {
        font-size: 4rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }
}
h3 {
    font-size: 4rem;
    @include media-breakpoint-down(lg) {
        font-size: 2.8rem;
    }
    @include media-breakpoint-down(md) {
        font-size: 2.2rem;
    }
}

h4{
    font-size: 2.4rem;
    font-weight:$font-weight-semibold;
    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }
}
h5{
    font-size: 2rem;
    @include media-breakpoint-down(md) {
        font-size: 1.8rem;
    }
}

h6{
    font-size:1.6rem;
}