footer{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(1,161,178,0.16) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(1,161,178,0.16) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(1,161,178,0.16) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#2901a1b2',GradientType=0 ); /* IE6-9 */	
}
.footer-wrap{
	nav li a {		
		color: $dark;
		&:hover{
			color: $primary;			
		}
	}
	.newsletter-wrap{
		form{
			.gform-body{
				.gform_fields{
					.gfield{
						.ginput_container{
							input{
								background-color: rgba($primary, 0.2) !important;
							    ::-webkit-input-placeholder {
							    	color: $dark !important;
								}
								:-moz-placeholder {
									color: $dark !important;
								}
								::-moz-placeholder {
									color: $dark !important;
								}
								:-ms-input-placeholder {
									color: $dark !important;
								}
							}
						}
					}
				}
			}
			.gform_footer{
				.gform_button{
					background-color: $primary;
					color: #fff;
				}
			}
		}
	}
}

.social-wrap{	
	border-top: 1px solid $light-blue;	
	ul li {	
		a {
			color: $dark;			
			&:hover{
				color: $primary;			
			}
		}
	}	
}