
.hero-banner-slider-section { 
  .hero-slider{
    .hero-slide-item{
      .slick-next, .slick-prev {
        &:before {
          color:$white;
        }
        
      }
    }
  }
  .hero-slide-content {
    color:$white;
    h1,p{
      color:$white;
    }
  }
}
  